In [ ]:
#1
a=['manish']
b=[2,'manish',8.9]
c=[65.2]
d=('manish',8,8.9)

In [ ]:
#2
1.str
2.str
3.list
4.int

In [ ]:
#3
#division-it divides
4/2
#modulos-it gives remainder
4%2
#division floor-it divides two numbers and  give the nearest integer as output
5//2
#expotent operator-it is raise to power
3**2

In [7]:
#4
a=[2,2.4,'man',1,7,90,85,3.9,'bird',54]
for i in a:
    print(i)
    print(type(i))

2
<class 'int'>
2.4
<class 'float'>
man
<class 'str'>
1
<class 'int'>
7
<class 'int'>
90
<class 'int'>
85
<class 'int'>
3.9
<class 'float'>
bird
<class 'str'>
54
<class 'int'>

In [9]:
#5
A=int(input('enter the value of A:'))
B=int(input('enter the value of B:'))
count=0
while A%B==0:
    count+=1
    A=A/B
if A==1:
    print(f'A is purely divisible by B in {count} times')
else:
    print('A is not divisible by B')

enter the value of A: 16
enter the value of B: 2

A is purely divisible by B in 4 times

In [10]:
#6
a=list(range(25))
for i in a:
    print(i)
    if i%3==0:
        print('i is divisible by 3')
    else:
        print('i is not divisible by 3')

0
i is divisible by 3
1
i is not divisible by 3
2
i is not divisible by 3
3
i is divisible by 3
4
i is not divisible by 3
5
i is not divisible by 3
6
i is divisible by 3
7
i is not divisible by 3
8
i is not divisible by 3
9
i is divisible by 3
10
i is not divisible by 3
11
i is not divisible by 3
12
i is divisible by 3
13
i is not divisible by 3
14
i is not divisible by 3
15
i is divisible by 3
16
i is not divisible by 3
17
i is not divisible by 3
18
i is divisible by 3
19
i is not divisible by 3
20
i is not divisible by 3
21
i is divisible by 3
22
i is not divisible by 3
23
i is not divisible by 3
24
i is divisible by 3

In [ ]:
#7
mutable-data types which allows to change the data without affecting objects identity.
ex-list data type
a=[2,'manish',8.9]
a.append('kishore')
immutable-data types which  doesnt allows to change the data.
ex-string data type