In [5]:
#1
import pandas as pd
data=[4,8,15,16,23,42]
s=pd.Series(data)
print(s)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [6]:
#2
import pandas as pd
data=[4,8,15,16,23,42,62,35,65,98]
s=pd.Series(data)
y=list(s)
print(y)

[4, 8, 15, 16, 23, 42, 62, 35, 65, 98]

In [12]:
#3
import pandas as pd
df={'name':['alice','bob','claire'],
    'Age':[25,30,27],
    'Gender':['Female','Male','Female']}
s=pd.DataFrame(df)
print(s)

     name  Age  Gender
0   alice   25  Female
1     bob   30    Male
2  claire   27  Female

In [ ]:
#4
dataframe-it is a tabular form of data in pandas
pandas.Series-It is data which contain only single column

In [ ]:
#5
common functions used to manipulate data in pandas dataframe are:
df.head(),df.tail(),df.dtypes(),df.columns(),df.
to_csv()-It is used to save dataframe in comma separated value format.

In [ ]:
#6
both series and Dataframe are mutable in nature.

In [22]:
#7
import pandas as pd
data=[4,8,15,16,23,42]
data2=[6,89,65,44,55,67]
m=pd.Series(data2)
s=pd.Series(data)
df=pd.DataFrame({'column1':s,'column2':m})
print(df)

   column1  column2
0        4        6
1        8       89
2       15       65
3       16       44
4       23       55
5       42       67