In [ ]:
#1
1.pd.read_csv("name")-to read csv File 
2.df.head()-to get first five rows in dataframe
3.df.tail()-to get last five rows in dataframe
4.df.describe()-to describe numerical columns in dataframe
5.df.to_csv()-to convert any file into csv format

In [17]:
#2
import pandas as pd
data={'a':[12,23,21],
      'b':[30,43,54],
      'c':[60,54,98]}
old=pd.DataFrame(data)
print(old)
def reindex(df):
    df.index=range(1,2*len(df)+1,2)
    return df
new=reindex(old)
print(new)

    a   b   c
0  12  30  60
1  23  43  54
2  21  54  98
    a   b   c
1  12  30  60
3  23  43  54
5  21  54  98

In [24]:
#3
import pandas as pd
data={'values':[10,20,30,40,50]}
df=pd.DataFrame(data)
print(df)
s=df.iloc[:3].sum()
print(s)

   values
0      10
1      20
2      30
3      40
4      50
values    60
dtype: int64

In [11]:
#4
import pandas as pd
data={'text':['manish','shubham','ashu']}
df=pd.DataFrame(data)
print(df)
df['word_count']=df['text'].apply(lambda x:len(x.split()))
df2=df[['text','word_count']]
print(df2)

      text
0   manish
1  shubham
2     ashu
      text  word_count
0   manish           1
1  shubham           1
2     ashu           1

In [ ]:
#5
Dataframe.size()-it gives no.of rows*no.of columns in Dataframe
Dataframe.shape()-it gives total rows first and then columns

In [ ]:
#6
to read excel file we use-
df.read_excel('excel_name')

In [17]:
#7
import pandas as pd
data={'Email':['manish@domain.com','ashu@domain.com','subham@domain.com']}
df=pd.DataFrame(data)
df['Username']=df['Email'].apply(lambda Email:Email.split('@')[0])
df2=df[['Email','Username']]
print(df2)

               Email Username
0  manish@domain.com   manish
1    ashu@domain.com     ashu
2  subham@domain.com   subham

In [24]:
#8
import pandas as pd
data={'A':[3,8,6,2,9],'B':[5,2,9,3,1],'C':[1,7,4,5,2]}
df=pd.DataFrame(data)
print(df)
s=df[(df['A']>5) & (df['B']<10)]
print(s)

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2
   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [23]:
#9
import pandas as pd
data={'value':[24,32,44]}
df=pd.DataFrame(data)
print(df)
s=df.iloc[:3].mean()
y=df.iloc[:3].median()
r=df.iloc[:3].std()
print('Mean:')
print(s)
print('Median:\n',y)
print('Standard deviation:\n', r)

   value
0     24
1     32
2     44
Mean:
value    33.333333
dtype: float64
Median:
 value    32.0
dtype: float64
Standard deviation:
 value    10.066446
dtype: float64

In [2]:
#10
import pandas as pd
data={'sales':[10,20,30,40,50,60,70],
      'Date':['1-1-2024','2-1-2024','3-1-2024','4-1-2024','5-1-2024','6-1-2024','7-1-2024']}
df=pd.DataFrame(data)
print(df)
df['moving_average']=df['sales'].rolling(window=7,min_periods=1).mean()
print(df)

   sales      Date
0     10  1-1-2024
1     20  2-1-2024
2     30  3-1-2024
3     40  4-1-2024
4     50  5-1-2024
5     60  6-1-2024
6     70  7-1-2024
   sales      Date  moving_average
0     10  1-1-2024            10.0
1     20  2-1-2024            15.0
2     30  3-1-2024            20.0
3     40  4-1-2024            25.0
4     50  5-1-2024            30.0
5     60  6-1-2024            35.0
6     70  7-1-2024            40.0

In [21]:
#11
import pandas as pd
data={'Date':['2023-01-03','2023-01-02','2023-01-03'],
      'weekday':['tuesday','monday','sunday']}
df=pd.DataFrame(data)
print(df)

         Date  weekday
0  2023-01-03  tuesday
1  2023-01-02   monday
2  2023-01-03   sunday

In [19]:
#12
import pandas as pd
data={'Date':['2023-01-01','2023-01-15','2023-01-20','2023-02-02']}
df=pd.DataFrame(data)
print(df)
start='2023-01-01'
end='2023-01-31'

df2=df[(df['Date']>=start) & (df['Date']<=end)]
print(df2)

         Date
0  2023-01-01
1  2023-01-15
2  2023-01-20
3  2023-02-02
         Date
0  2023-01-01
1  2023-01-15
2  2023-01-20

In [ ]:
#13
import pandas as pd,then we have to define data.